/* @font-face {
    font-family: 'Pokemon Fire Red Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Pokemon Fire Red Regular'), url('pokemon_fire_red.woff') format('woff');
} */

.navigation {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    background-color:#64f38c;
}

.welcome {
    display: grid;
    grid-column-start: 1;
    justify-content: center;
    box-shadow: 5px;
    color: black;
    transition: all .50s ease-in-out;
    margin: 25px;
    /* outline: black double; */
}

.welcome:hover {
    margin: 10px;
}

.profile {
    display: grid;
    grid-column-start: 5;
    grid-row-start: 1;
    justify-content: center;
    padding: 5px;
    color: black;
    transition: all .50s ease-in-out;
    margin: 25px;
}

.profile:hover {
    margin: 10px;
}

.search {
    display: grid;
    grid-column-start: 3;
    grid-row-start: 1;
}

.input {
    display: grid;
    grid-column-start: 3;
    padding: 10px;
    margin: 25px;
}

.button {
    display: grid;
    grid-column-start: 4;
    padding: 10px;
    margin: 25px;
}