/* @font-face {
    font-family: 'Pokemon Fire Red Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Pokemon Fire Red Regular'), url('pokemon_fire_red.woff') format('woff');
} */

.navigation {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    background-color:#64f38c;
}

.welcome {
    display: grid;
    grid-column-start: 1;
    justify-content: center;
    box-shadow: 5px;
    color: white;
    transition: all .25s ease-in-out;
}

.welcome:hover {
    transform: scale(1.25);
}

.search {
    display: grid;
    grid-column-start: 3;
    justify-content: center;
}

.profile {
    display: grid;
    grid-column-start: 5;
    justify-content: center;
    padding: 5px;
    color: white;
    transition: all .25s ease-in-out;
}

.profile:hover {
    transform: scale(1.25);
}

